body {
    background-color: #F1F1F1;
}
@font-face {
    font-family: 'Roboto';
    src: url(Roboto-Medium.ttf);
}
.pfp-img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
header {
    width: 1100px;
    margin: 21px auto !important;
    position: sticky ;
}
header ul {
    display: flex;
}
header ul li {
    margin: 0 17px;
}

header ul li a {
    color: #000;
    font-family: 'Roboto';
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
main {
    width: 1200px;
    margin: 21px auto !important;
}
main h3 {
    color: #000;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.card-container {
    width: 100%;
    margin: 20px 0;

}
.card {
    display: inline-block;
    margin-right: 20px;
    background-color: white;
    width: 362px;
    border-radius: 15px 15px 0 0;

}
.img-wrapper {
    position: relative !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 186px;
    display: grid;
}
.card-img {
    width: 362px;
    position: absolute !important;
    border-radius: 15px 15px 0 0;

}
.stx {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute !important;
    z-index: 5;
}
.stx1 {
    margin-top: 32px;
    margin-left: 41px;
}
.card-footer {
    padding: 50px 37px;
}
.card-text {
    color: #8A8787;
    font-family: 'Roboto';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.another-img {
    width: 700px;
    height: 430px;
    border-radius: 5px;

}
.place {
    margin-top: 203px;
    margin-left: 278px;
}

aside {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 850px !important;
    margin-left: 40px !important;
}

footer {
    margin-top: 100px;
    width: 100%;
    background-color: #243043;
    padding: 59px, 137px !important;
    display: flex !important;
    padding-top: 59px !important;
    padding-left: 137px !important;
    padding-right: 137px !important;
    padding-bottom: 59px !important;
}
footer ul {
    margin-right: 50px !important;
}
footer ul li a {
    color: #818687;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

footer ul li {
    margin-top: 10px;
}
footer p {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 100px !important;
}